/* raleway-regular - cyrillic_latin */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/raleway-v28-cyrillic_latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/raleway-v28-cyrillic_latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* raleway-500 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/raleway-v28-cyrillic_latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/raleway-v28-cyrillic_latin-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  html{
    box-sizing: border-box;
  }
  *, *::before, *::after{
    box-sizing: inherit;
  }

  body{
    font-family: 'Raleway';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color:black;
  }

 

/* Стиль header */

  .header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .wrapper{
    max-width: 1110px;
    margin: 0 auto;
  }

  .header_wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 51px;
  }

  .header_list{
    display: flex;
    flex-wrap: wrap
  }

  .header_item{
    margin-right: 45px;
  }

  .header_item:last-child{
    margin-right: 0;
  }

  .header_link{
    font-size: 15px;
    line-height: 140%;
    text-decoration: none;
    color:#000000;
  }
  .fourth_header_link{
    font-size: 15px;
    line-height: 140%;
    text-decoration: none;
    color:#6E9C9F;
    font-weight: 700;
  }

  .header_link:hover, .header_link:focus{
    opacity: 75%;
  }
  .header_link:active{
    color: #6E9C9F;
  }
  .phone_logo-link{
    font-size: 15px;
    line-height: 140%;
    text-decoration: none;
    color:#000000;
  }
  .phone_logo-link:hover, .phone_logo-link:focus{
    background: #6E9C9F;
  }

  .phone_logo-link{
    font-size: 15px;
    line-height: 140%;
  }

  /* main */
  .title{
    padding-top: 269px;
    padding-left: 390px;
  }
  .about_title{
    font-style: normal;
    font-weight: 500;
    font-size: 55px;
    line-height: 110%;
    margin-left: -15px;
  }
  ul.breadcrumb {
    margin-left: -10px;
    margin-top: 26px;
    list-style: none;
    background-color: #ffffff;

  }
  .third_header_link{
    font-size: 15px;
    line-height: 140%;
    text-decoration: none;
    color:#6E9C9F;
    font-weight: 700;
  }

  /* Карта */

  .map{
    margin-top: 140px;
    margin-left: 375px
  }
  .first_contact_information{
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    display: flex;
    justify-content: space-around;
    width: 943px;
    margin-top: 100px;
    margin-left: 245px;
  }
  .second_contact_information{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    display: flex;
    justify-content: space-around;
    width: 943px;
    margin-left: 325px;
    margin-top: 10px;
  }
  
  /* Настройки крошек */

  /* Отображение элементов списка бок о бок */
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
  }
  
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "-";
  }
  
  /* Добавить цвет для всех ссылок внутри списка */
  ul.breadcrumb li a {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    text-decoration: none;
    color: #000000;
  }
  
  /* При наведении курсора мыши */
  ul.breadcrumb li a:hover {
    text-decoration: underline;
  }
  /* Текущий */
  li.current{
    color: #919191;
  }

  /* PopUP */

#zatemnenie {
    background: rgba(110, 156, 159, 0.95);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }
  #okno{
    width: 491px;
    height: 503px;
    text-align: center;
    padding: 15px;
    border-radius: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #fff;
  }
  #zatemnenie:target {
    display: block;
  }
  .close {
    display: inline-block;
    color: #000000;
    padding: 0px 0px;
    margin-left: 420px;
    text-decoration: none;
    background: #f2f2f2;
    font-size: 14pt;
    cursor:pointer;
    background: #ffffff;
  }
  .close:hover {
    background: #ffffff;
    opacity: 90%;
  }
  h3{
    font-weight: 500;
    font-size: 25px;
    line-height: 140%;
    margin-top: 50px;
  }
  form {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    margin: 2rem auto 0 auto;
    max-width: 350px;
    padding: 1em;
    justify-items: start;
    grid-template-columns: 120px 1fr;
    grid-gap: 10px;
  }
  form input {
    background: #fff;
    border:0;
    border-bottom:1px solid #000000;
    min-width: 10px;
  }
  form button {
    background: #6E9C9F;
    padding: 0.7em;
    width: 250px;
    height: 68px;
    border: 0;
    font-weight: 400;
    font-size: 17px;
    line-height: 138.9%;
    color: white;
    margin-left: 40px;
    margin-top: 20px;
  }
  form button:hover {
    opacity: 90%;
  }
  
  .form label {
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    color: #868686;
  }
  
  .form input {
    padding: 0.7em;
    margin-bottom: 0.5rem;
  }
  .form input:focus {
    outline: 0px solid gold;
  }

  /* Forma */
  #okno{
    width: 491px;
    height: 503px;
    text-align: center;
    padding: 15px;
    border-radius: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #fff;
  }
  #write_us:target {
    display: block;
  }
  h3{
    font-weight: 500;
    font-size: 25px;
    line-height: 140%;
    margin-top: 50px;
  }
  .write_us_text{
    margin-left: 370px;
  }
  form {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    margin-left: 350px;
    max-width: 350px;
    padding: 1em;
    justify-items: start;
    grid-template-columns: 120px 1fr;
    grid-gap: 10px;
  }
  form input {
    background: #fff;
    border:0;
    border-bottom:1px solid #000000;
    min-width: 10px;
  }
  form button {
    background: #6E9C9F;
    padding: 0.7em;
    width: 250px;
    height: 68px;
    border: 0;
    font-weight: 400;
    font-size: 17px;
    line-height: 138.9%;
    color: white;
    margin-left: 1px;
    margin-top: 20px;
  }
  form button:hover {
    opacity: 90%;
  }
  
  .form label {
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    color: #868686;
  }
  
  .form input {
    padding: 0.7em;
    margin-bottom: 0.5rem;
  }
  .form input:focus {
    outline: 0px solid gold;
  }
  /* Стиль footer */
.footer{
    margin-top: 130px;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color: #F1EADC;
    min-height: 363px;
}
.footer_list{
    display: flex;
    flex-wrap: wrap;
  }
  .footer_wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 104px;
  }
  .footer_item:last-child{
    margin-right: 0;
  }
  .footer_list2{
    display: flex;
    flex-direction:column;
    align-items: end;
  }
  .footer_contacts{
    display: flex;
    align-items: end;
    justify-content: end;
    padding-top: 9px;
  }
  .social_media_list{
    display: flex;
    align-items: end;
    padding-top: 30px;
    justify-content: end;
    gap: 12px;
  }
  .social_media_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  a.shop_categories_link{
    outline: none;
    text-decoration: none;
    color: #000000;
  }
  a.shop_categories_link:hover{
    opacity: 90%;
  }
  .first_column_list{
    font-weight: 400;
    font-size: 13px;
    line-height: 140%;
    margin-top: 25px;
  }
  .second_column_list{
    font-weight: 400;
    font-size: 13px;
    line-height: 140%;
    margin-right: 188px;
    margin-top: 10px;
  }
  .social_media_icons{
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-top: 30px;
  }
  .visamc_icons{
    margin-top: 20px;
  }